.cmp-subscription-promo {
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  padding: 20px;
  border-radius: 8px;
  color: white;
  max-width: 600px;
  margin: auto;
}

.cmp-subscription-promo__email,
.cmp-subscription-promo__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pdf-thumbnail {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}


.cmp-subscription-promo__email input,
.cmp-subscription-promo__form input {
  padding: 10px;
  border-radius: 4px;
  border: none;
}

.cmp-subscription-promo__email button,
.cmp-subscription-promo__form button {
  background-color: #ffffff;
  color: #2575fc;
  padding: 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.privacy-link {
  font-size: 12px;
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 768px) {
  .cmp-subscription-promo {
    max-width: 100%;
  }
}
